
.navbar{
  border-radius: 5px;
}
  .logo-details img{
    width: 90%;
    position: relative;
    left: 5%;
  }
  .my-breadcrumb{
    width: 100%;
    padding: 0;
    margin: 0;
    /* background-color: #fff; */
    border-radius: 5px;
  }
  .my-breadcrumb .breadcrumb-list{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    padding: 0;
  }
  .my-breadcrumb .breadcrumb-list li{
    list-style: none;
  }
  .my-breadcrumb .breadcrumb-list li .active{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-right: 20px;
  }
  .my-breadcrumb .breadcrumb-list li .active::after{
    content: "/";
    position: absolute;
    left: 90%;
  }
  .my-breadcrumb .breadcrumb-list li label{
    text-transform: uppercase;    
  }
  .setting-sub-title{
    position: relative;
    bottom: 10px;
  }



  .table thead tr th{
    text-transform: uppercase;
  }
  .table tbody tr:hover{
    background-color: #d6d6d616;
  }
  .empity-list{
    width: 100%;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    border: none;
    position: relative;
    top: 20px;
    left: 5%;
  }

  .empity-list span{
    color: #ccc;
    position: relative;
  }

  .empity-list span::after{
    content: '';
    height: 2px;
    width: 30px;
    background-color: #ccc;
    position: absolute;
    top: 45%;
  }

  

  .empity-list span::before{
    content: '';
    height: 2px;
    width: 30px;
    background-color: #ccc;
    position: absolute;
    top: 45%;
    left: -30px;
  }
  .main-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.my-input{
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.file-input{
  padding-top: 8px;
}
.text-decoration-none{
  text-decoration: none;
}
.text-decoration-none:hover{
  text-decoration: none;
}
.fullscreen{
  background-color: #fff;
}
.menu-toggle{
  display: none !important;
}
#btnClose{
  display: none;
}
@media only screen and (max-width: 991px){
  .menu-toggle{
    display: block !important;
  }
  #btnClose{
    display: block;
  }
}
.sidebar.active{
  display: block;
  /* width: 100%; */
}
.btn-close{
  position: absolute;
  left: 270px;
  top: 25px;
  color: #fff;
}